@page "/"
@using Data
@using Microsoft.AspNetCore.Components
@using System.Diagnostics.Tracing

<h2 class="pb-2">Сетевой диск</h2>
<p class="pb-2 mw-1100">
    Web версия сетевого диска
</p>

<p class="demo-text cw-320 mt-2">
    Размер значков
</p>
<DxSpinEdit @bind-Value="@SizeIcon" SizeMode="SizeMode.Small" NullText="Введите размер..." CssClass="cw-320" />


<br />

<style>
    .icons-style {
        width: @(SizeIcon)px;
    }
</style>

<!-- @oncontextmenu="((e) => ShowContextMenu(treeView.Data, e))" @oncontextmenu:preventDefault-->
<div class="cw-320">
    <DxTreeView ref="@treeView"
                Data="@ApiFiles.ServerFiles"
                @bind-FilterString="FilterString"
                FilterMinLength="2"
                ShowFilterPanel="true"
                Target="_blank"
                FilterMode="NavigationFilterMode.ParentBranch"
                FilterNullText="Введите что хотите найти..."
                AnimationType="LayoutAnimationType.Slide"
                ShowExpandButtons="true"
                NodeClick="@OnNodeClick" @oncontextmenu="((e) => { ShowContextMenu(null, e); })" >

        <DataMappings>
            <DxTreeViewDataMapping Key="Id" ParentKey="ParentId"
                                   IconCssClass="Style"
                                   Text="Name" IconUrl="Icon" NavigateUrl="NavigateUrl" /> <!--Enabled="enables"-->
        </DataMappings>
    </DxTreeView>
</div>

<!--CONTEXT MENU-->
<DxContextMenu @ref="@ContextMenu" ItemClick="@OnItemClick">
    <Items>
        <DxContextMenuItem Text="Сортировать по"  IconCssClass="menu-icon-sort-by menu-icon">
            <Items>
                <DxContextMenuItem Text="Имени"></DxContextMenuItem>
                <DxContextMenuItem Text="Размеру"></DxContextMenuItem>
                <DxContextMenuItem Text="Типу"></DxContextMenuItem>
            </Items>
        </DxContextMenuItem>
        <DxContextMenuItem Text="Копировать" IconCssClass="menu-icon-copy menu-icon" BeginGroup="true"></DxContextMenuItem>
        <DxContextMenuItem Text="Вырезать" IconCssClass="menu-icon-cut menu-icon"></DxContextMenuItem>
        <DxContextMenuItem Text="Удалить" IconCssClass="menu-icon-clear menu-icon"></DxContextMenuItem>
        <DxContextMenuItem Text="Выбрать всё" BeginGroup="true"></DxContextMenuItem>
    </Items>
</DxContextMenu>
<!--CONTEXT MENU-->

@code {

    protected Int32 SizeIcon { get; set; } = 36;


    string FilterString = "";
    DxTreeView treeView;

    DxContextMenu? ContextMenu { get; set; }
    string ClickedItem { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ApiFiles.Initialize(Data.path);
    }

    async Task ShowContextMenu(object obj, MouseEventArgs e)
    {
        ContextMenu.ShowAsync(e);
        if(obj != null) Console.WriteLine(obj);
    }

    private void OnExpanedChanged(TreeViewNodeCancelEventArgs obj)
    {
        Console.WriteLine(obj.NodeInfo.Name);
    }

    private async void OnNodeClick(TreeViewNodeClickEventArgs obj)
    {
        var _click_obj = ApiFiles.ServerFiles.FirstOrDefault(n => n.Name == obj.NodeInfo.Text).Id;

        if (obj.NodeInfo.Text == "App_Data") return;

        if (obj.MouseEventArgs.Button == 2)
        {
            ShowContextMenu(obj.NodeInfo.Text, new MouseEventArgs());
        }

        if (Directory.Exists(_click_obj)) ApiFiles.SubDir(_click_obj);
        else Console.WriteLine("Тык");

    }


    void OnItemClick(ContextMenuItemClickEventArgs args)
    {
        ClickedItem = args.ItemInfo.Text;
    }
}